name: Deploy PHP App to VPS

on:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

  deploy:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Deploy on VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: ${{ secrets.VPS_PORT }}
          timeout: 120s
          command_timeout: 30m
          request_pty: true
          script: |
            APP_DIR=/home/scoutismebeninois/www
            BRANCH=main
            cd $APP_DIR
            git fetch origin
            git checkout $BRANCH
            git pull origin $BRANCH
